button{
    background-color : rgba(0,0,0,0);
    border-color : rgba(0,0,0,0);
    border:none;
    outline:none;
}

div
{
    //border : solid;
    
}
.accueil_bloc1{
    height: 500px;
     
}

.accueil_bloc1.un{

    background: url(images/slide1.2.png) top center ;
        background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.accueil_bloc1.deux{
    background: url(images/slide02.jpg) top center ;
        background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.accueil_bloc1.trois{
    background: url(images/slide03-ter.jpg) top center ;
        background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.legende{
    width:700px;
    height:100%;
    float: right;
    color: white;
}
.un .legende{
    background-color : rgba(127,51,125,0.80);
}
.deux .legende{
    background-color : rgba(91,190,182,0.80);
}
.trois .legende{
    background-color : rgba(253,106,2,0.80);
}

.legende_gauche{
    display: inline-block;
    padding-left : 10%;
    width: 66%;
}
.legende_titre{

    font-size : 3.5em;
}
.legende_trait{
    background-color:white;
    width : 200px;
    height: 4px;
    
}
.legende_texte{
    font-size : 2.5em;
    font-style : bold;
}
.legende_droite{
    display: inline-block;
    width: 12%;
    padding-left : 2%;
    padding : 5%;
}
.legende_droite img
{
    width:100%;
}

h1{
  padding-top: 0;
  font-size: 50px;
  text-align : center;  
  color: rgb(60,60,60);
  margin-bottom: -35px;;
  font-weight: 400;
}
h1 span{
    font-weight : 800;
}

h2{
  font-size: 22px;
  text-align : center;  
  color: rgb(60,60,60);
    font-weight: 600;
    margin-bottom: 50px

}

.h1{
  margin-bottom: : 80px;
}

.h1 h2{
  letter-spacing: 1px;
}

.h1 h2 span{
  font-weight : 800;
}

.accueil_separateur,
.accueil_separateur2{
  height: 8px;
  width: 170px;
  background: linear-gradient(to right, rgb(92,190,182), rgb(127,51,125));
  margin: auto;
  border-radius: 10px;

}

.image_menu img
{
	width: 100%;
}

.block_client
{
	display: flex;
  margin-top: 50px;
}

.block_client .temoignage
{
	display: flex;
	float: left;
}

h3{
  letter-spacing: 1px;
  text-align: center;
   color: rgb(60,60,60);
   font-size: 16px;
}

li{
	list-style-type:none;
}

.legende_titre p{
  padding-top: 0px;
  margin-top: 20%;
  margin-bottom: 5%;
}

.legende_text p{
  margin-top: 10%;
}

.accueil_clients img{
  width: 200px;
  margin-right: 70px;


}

.accueil_clients ul{
   display: flex;
  justify-content: center;
    align-items: center;

}


.Danone_logo img{
  width:  130px; 
}

.Savencia_logo img{
  width:  250px;
}

.legende_3{
  background: url(images/slide1.2.png) top center ;
        background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 350px;
  display: none;
}




.legende_3 ul{
  margin: 200px 0 0 0 ;
  padding: 0;
}
.blocResponsive p{
  margin: 0 0 0 70px;
  padding: 10px 0 0 0;
  font-size: 21px;
  letter-spacing: 1px;
}

.carreViolet,
.carreBleu,
.carreOrange{
  height: 50px;
  color: white;
  width: 100%;
}

.accueil_separateur2{
  display: none;
}

.blocResponsive .carreViolet{
  background-color: rgba(127,51,125,0.8);
}

.blocResponsive .carreBleu{
  background-color: rgba(91,190,182,0.80);
}
.blocResponsive .carreOrange{
  background-color: rgba(253,106,2,0.80);
}

@media screen and (max-width: 1250px){
  .accueil_clients ul{
    padding: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
@media screen and (max-width: 850px){
  .blocPapa {
    display: none;
  }

  .legende_3{
    display: inline-block;

  }

  .h1{
    padding-top: 30px;    
  }

  h1{
    font-size: 30px;
    padding-left: 30px;
  }

  h2{
     font-size: 23px;
    padding-top: 40px;
    padding-left: 30px;
  }

  h3{
    display: none;
  }

  .accueil_separateur {
    display: none;
  }

  .accueil_separateur2{
    display: flex;
    margin-top: 40px;

  }

  .accueil_clients img{
    margin: 0;
  }

  .Savencia_logo img{
    width: 200px;
  }

  .Danone_logo img{
  width:  100px; 
}

  .Coty_logo img{
  width: 150px;
  }

  .Hanes_logo img {
    width: 150px;
  }
}