.fondHumain img {
	height: 200px;
	width: 100%;
}

.logo img{
	width: 350px;
	margin-top: 10px;
	margin-left: 20px;

}

.responsive{
	display: none;
}

header{
	display: flex;
	background-color: white;
	height: 120px;
}


@media(max-width: 1390px){

	header{
	    display: contents;
	}
}

@media screen and (max-width: 1025px){
	header{
	    display: flex;
	}
}

@media screen and (max-width: 600px){
	.imageFullEcran img{
		width: 250px;
		height: 70px;
	}

}