.blocSucces{
	width: 100%;
	padding-top: 50px;
}

.bloc4{
	text-align: center;
	
	color: white;
	display: flex;
	justify-content: center;
}

.imagePictoTailored img{
	margin-top: 20px;
	width: 50px;
}

.bloc4 p{
	letter-spacing: 1px;
	font-size: 22px;
}

.separateur{
	height: 6px;
	width: 30%;
	margin-left: 35%;
	background-color:  white;
	border-radius: 10px;
}

.limage{

	 background: url(images/slide1.2.png)  ;
        background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 80%;
  height: 300px;
  display: flex;
}

/* Les 4 blocs */
.simplicite,
.efficacite{
	background-color: rgba(127,51,125,0.8);
	width: 25%;
}

.collaboratif{
	background-color: rgba(92,190,182,0.8);
	width: 25%;
}
.securisation{
	 background-color: rgba(253,106,2,0.8);
	 width: 25%;
}
/* temoignage */
.blocTemoignage{
	margin: auto;
	margin-top: 0;
	background-color: white;
	color: black;
	width: 55%;
	height: 350px;
}

.blocTemoignage h2{
	margin-top: 55px;
	margin-left: 175px;
	font-size: 24px;
	color: rgb(127,51,125);
}

.blocTemoignage h3{
	margin-left: 300px;
	font-size: 14px;
	color: rgb(127,51,125);

}

.basDuTemoignage{
	display: flex;
}

.blocTemoignage .texte p{
	width: 100%;
	margin-left: 60px

}

h3{
	font-weight: 1200px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.blocTemoignage img{
	margin-left: 120px;
	width: 120px;
	display: flex;

}

.blocConseil {
	 background: url(images/slide1.2.png) top center ;
        background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 25%;
}

.texte{
	width: 50%;
}

.texte span{
	height: 28px;
    color: rgb(91,190,182);
    font-size: 50px;
    display: flex;
    margin-left: -24px;
    padding: 0;
}

.texte .span{
	color: rgb(91,190,182);
	font-size: 50px;
	display: flex;
	padding: 0;
    margin-left: 603px;
    margin-top: -67px;
}